.controls {
	background-color: white;
	padding: 0 10px;
	position: fixed;
	right: 0;
	bottom: 0;
	z-index: 10;
}
.controls .item {
	background-size: 24px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 100px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
.controls .item#play {
	background-image: url('img/play.svg');
}
.controls .item#pause {
	background-image: url('img/pause.svg');
}
.controls .item#prev {
	background-image: url('img/prev.svg');
}
.controls .item#next {
	background-image: url('img/next.svg');
}
.controls.paused .item#pause {
	display: none;
}
.controls:not(.paused) .item#play {
	display: none;
}
.controls .item:hover {
	opacity: 0.5;
}
