.dropdown {
	background-color: white;
	list-style-type: none;
	padding: 0;
	margin: 0;
	width: 420px;
	max-width: 100%;
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	z-index: 10;
	cursor: pointer;
}
.dropdown li {
	font-size: 14px;
	padding: 10px;
}
.dropdown li:hover {
	background-color: #f5f7fa;
}
.dropdown li span.title {
	white-space: nowrap;
  overflow: hidden;
	text-overflow: ellipsis;
	width: calc(100% - 80px);
	display: inline-block;
}
.dropdown li span.listeners {
	width: 80px;
	text-align: right;
	float: right;
}
