.player {
	background-color: white;
	height: 50px;
	width: 100%;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	position: fixed;
	left: 0;
	bottom: -50px;
	transition: bottom 0.8s cubic-bezier(0.9, 0.01, 0.2, 1);
}
.content.selected .player {
  bottom: 0;
}
