.tags {
	background-color: #f5f7fa;
	height: 0;
	overflow-x: scroll;
	white-space: nowrap;
	transition: height 0.2s ease-in-out;
}
.tags.visible {
	height: 75px;
}
.tags span {
	background-color: #ff0039;
	color: white;
	font-size: 12px;
	font-weight: 700;
	text-trans0orm: uppercase;
	margin: 10px;
	padding: 10px;
	display: inline-block;
	position: relative;
	cursor: pointer;
}
.tags span:before {
	content: '';
	background-color: white;
	height: 2px;
	width: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	transition: width 0.2s ease-in-out;
}
.tags span:hover:before {
	width: calc(100% - 20px);
}
